{{>header}}
{{>navbar}}
 <div class="vh-100 d-flex align-items-center justify-content-center">
        <div class="card p-3">
            <h5 class="card-title text-center">Login</h5>
            <div class="card-body d-flex flex-column">
                <form class="d-flex flex-column" action="/login" method="POST">
                    <input type="email" class="email mb-3" placeholder="email" name="email">
                    <input type="password" class="password mb-3" placeholder="password" name="password">
                    <Button type="submit">Login</Button>
                </form>
            </div>
        </div>
    </div>
{{>footer}}